* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #fff;
}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.mySlides{
width: 100% ;
height:600px;
}

p .intro {
  color: navy;
  text-indent: 30px;
  text-transform: uppercase;
  float: left;
}
iframe{
  float:right;
}

.ml-container{
  margin: 30px 0;
flex: 1 0 auto;
}

.form-input {
text-align: center;
width: 350px;
height: 25px;
margin-bottom: 5px;
}

/* Predict Button */
.my-cta-button{
background: #f9f9f9;
   border: 2px solid #000000;
  border-radius: 1000px;
  box-shadow: 3px 3px #8c8c8c;
margin-top: 10px;
  padding: 10px 36px;
  color: #000000;
  display: inline-block;
   font: italic bold 20px/1 "Calibri", sans-serif;
  text-align: center;
}

.my-cta-button:hover{
  color: #4d089a;
  border: 2px solid #4d089a;
}

.my-cta-button:active{
  box-shadow: 0 0;
}
.container{
  background-color: hsla(309, 47%, 80%, 0.918);
}
.form-group ol{
  color: #680a50; font-size: 20px; font-weight: bold;
}





