* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #fff;
}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.mySlides{
width: 100% ;
height:600px;
}

p .intro {
  color: navy;
  text-indent: 30px;
  text-transform: uppercase;
  float: left;
}
iframe{
  float:right;
}
legend{
  text-align: center; background-color: #611444; color: #fff
}

.ml-container{
  margin: 30px 0;
flex: 1 0 auto;
}

.form-input {
text-align: center;
width: 350px;
height: 25px;
margin-bottom: 5px;
}


.container{
  background-color: hsla(309, 47%, 80%, 0.918);
}
.form-group ol{
  color: #680a50; font-size: 20px; font-weight: bold;
}

.form-group ol li{
  font-family: Helvetica,
}




